In [1]:
import feast
fs = feast.FeatureStore(repo_path='feast_repo')

In [ ]:
# feast materialize 2021-04-20T00:00:00 2021-04-21T00:00:00
# feast materialize 2021-04-23T00:00:00 2021-04-24T00:00:00
# feast materialize 2021-04-26T00:00:00 2021-04-27T00:00:00
# feast materialize 2021-04-29T00:00:00 2021-04-30T00:00:00

In [ ]:
feature_vector = fs.get_online_features(
    feature_refs=[
        'driver_hourly_stats:daily_transactions',
        'driver_hourly_stats:total_transactions',
    ],
    entity_rows=[{"user_id": 1008}]
).to_dict()

print(feature_vector)

In [4]:
import pandas as pd
df = pd.read_parquet('feast_repo/data/dummy_data_quadruplicate_users.parquet', engine='pyarrow')
df

/Users/PSahai/miniconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,user_id,daily_transactions,total_transactions,event_timestamp,created_timestamp
0,1001,1.53,1.53,2021-04-20 18:29:25.771,2021-04-29 18:29:59.100
1,1002,3.98,3.98,2021-04-20 18:29:25.771,2021-04-29 18:29:59.100
2,1003,4.82,4.82,2021-04-20 18:29:25.771,2021-04-29 18:29:59.100
3,1004,10.90,10.90,2021-04-20 18:29:25.771,2021-04-29 18:29:59.100
4,1005,11.80,11.80,2021-04-20 18:29:25.771,2021-04-29 18:29:59.100
5,1006,5.51,5.51,2021-04-20 18:29:25.771,2021-04-29 18:29:59.100
6,1007,4.22,4.22,2021-04-20 18:29:25.771,2021-04-29 18:29:59.100
7,1008,5.91,5.91,2021-04-20 18:29:25.771,2021-04-29 18:29:59.100
0,1001,5.53,7.06,2021-04-23 18:29:31.326,2021-04-29 18:29:59.100
1,1002,4.98,8.96,2021-04-23 18:29:31.326,2021-04-29 18:29:59.100
2,1003,6.82,11.64,2021-04-23 18:29:31.326,2021-04-29 18:29:59.100
3,1004,7.90,18.80,2021-04-23 18:29:31.326,2021-04-29 18:29:59.100
4,1005,31.80,43.60,2021-04-23 18:29:31.326,2021-04-29 18:29:59.100
5,1006,21.51,27.02,2021-04-23 18:29:31.326,2021-04-29 18:29:59.100
6,1007,8.22,12.44,2021-04-23 18:29:31.326,2021-04-29 18:29:59.100
7,1008,19.91,25.82,2021-04-23 18:29:31.326,2021-04-29 18:29:59.100
0,1001,7.53,14.59,2021-04-26 18:29:41.677,2021-04-29 18:29:59.100
1,1002,2.98,11.94,2021-04-26 18:29:41.677,2021-04-29 18:29:59.100
2,1003,10.82,22.46,2021-04-26 18:29:41.677,2021-04-29 18:29:59.100
3,1004,11.90,30.70,2021-04-26 18:29:41.677,2021-04-29 18:29:59.100
4,1005,3.80,47.40,2021-04-26 18:29:41.677,2021-04-29 18:29:59.100
5,1006,1.51,28.53,2021-04-26 18:29:41.677,2021-04-29 18:29:59.100
6,1007,4.22,16.66,2021-04-26 18:29:41.677,2021-04-29 18:29:59.100
7,1008,9.91,35.73,2021-04-26 18:29:41.677,2021-04-29 18:29:59.100
0,1001,12.35,26.94,2021-04-29 18:29:42.921,2021-04-29 18:29:59.100
1,1002,3.58,15.52,2021-04-29 18:29:42.921,2021-04-29 18:29:59.100
2,1003,15.82,38.28,2021-04-29 18:29:42.921,2021-04-29 18:29:59.100
3,1004,3.90,34.60,2021-04-29 18:29:42.921,2021-04-29 18:29:59.100
4,1005,21.83,69.23,2021-04-29 18:29:42.921,2021-04-29 18:29:59.100
5,1006,11.14,39.67,2021-04-29 18:29:42.921,2021-04-29 18:29:59.100
6,1007,7.42,24.08,2021-04-29 18:29:42.921,2021-04-29 18:29:59.100
7,1008,7.31,43.04,2021-04-29 18:29:42.921,2021-04-29 18:29:59.100